<a href="https://colab.research.google.com/github/GlitchT/wookshop/blob/main/Wookshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("oi")

oi

#DAY 1

In [ ]:
a = float(input("Enter 1st:"))
b = float(input("Enter 2nd:"))
c = a+b
print(c)
print(c)

Enter 1st5
Enter 2nd9
14.0
14.0

In [ ]:
a = int(input("Enter the number "))
if a%7==0:
    print("Divisible by 7")
else:
    print("Not divisible by 7")

Enter the number63
Divisible by 7

a = input("Enter your name : ")
b = int(input("Enter your age : "))
print ("My name is", a, "and my age is", b)

In [ ]:
a = input("Enter your name : ")
b = int(input("Enter your age : "))
print ("My name is", a, "and my age is", b)

Enter your name : hemlata
Enter your age : 92
My name is hemlata and my age is 92

In [ ]:
a = input("Enter your name : ")
b = int(input("Enter your age : "))
print ("My name is",(a), "and my age is", (b))

Enter your name : say
Enter your age : 40
My name is say and my age is 40

In [ ]:
a = int(input("Enter the radius: "))
area = 3.14*a*a
print("Area of circle is", area)
perimeter = 2*3.14*a
print("Perimeter of circle is", perimeter)

Enter the radius: 7
Area of circle is 153.86
Perimeter of circle is 43.96

a = int(input("Enter a number :"))
b = int(input("Enter a number :"))
if a>b:
    print(a, "is greater than", b)
else:
    print(b, "is greater than", a)

In [ ]:
print("NIET", "Noida", "Gr", sep=' ')
print('NIET, Noida, Gr', end='\ ')
print("NIET", "Noida", "Gr", sep='-')
print("NIET", "Noida", "Gr", sep='*')
print("NIET", "Noida", "Gr", sep='/')
print(r'NIET\Noida\Gr')

NIET Noida Gr
NIET, Noida, Gr\ NIET-Noida-Gr
NIET*Noida*Gr
NIET/Noida/Gr
NIET\Noida\Gr

#DAY 2

In [ ]:
a= 9
b= 11
c= a+b
print ("Addition of",a,"and",b,"is",c)

Addition of 9 and 11 is 20

In [ ]:
a= 9
b= 12
c= a*b
print("Product of {} and {} is {}".format(a,b,c))

Product of 9 and 12 is 108

In [ ]:
a= int(input("1st no: "))
b= int(input("2nd no: "))

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

1st no: 7
2nd no: 2
9
5
14
3.5
1
3
49

In [ ]:
a = int(input("Enter A: "))
b = int(input("Enter B: "))
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

Enter A: 8
Enter B: 3
False
True
True
False
True
False

In [ ]:
w = False
x = True
y = False
z = True
print(w and x)
print(w or x)
print(not w)
print(w and y)
print(w or y)
print(not x)
print(w and z)
print(w or z)
print(not y)
print(not z)

False
True
True
False
False
False
False
True
True
False

a = bool(input("Enter T/F: "))
b = bool(input("Enter T/F: "))
t = True
f = False
print(a and b)
print(a or b)
print(not a)
print(not b)

In [ ]:
x = [1,3,6]
y = [1,3,6]
z = x
print (x is z)
print (x is y)
print (x is not z)
print (2 in x)
print (7 not in y)
print(id(x))
print(id(y))
print(id(z))

True
False
False
False
True
131969026020160
131968117420160
131969026020160

In [ ]:
import math as m
print(m.sqrt(16))
a= float(input("Enter 1st no: "))
b= float(input("Enter 2nd no: "))
c= float(input("Enter 3rd no: "))

p = a+b+c
s = p/2
x = (s*(s-a)*(s-b)*(s-c))**0.5

print("Perimeter of triangle is", p)
print("Semi perimeter of triangle is", s)
print("Area of triangle is", x)

4.0
Enter 1st no: 2
Enter 2nd no: 3
Enter 3rd no: 4
Perimeter of triangle is 9.0
Semi perimeter of triangle is 4.5
Area of triangle is 2.9047375096555625

In [ ]:
a = int(input("Enter 1st no: "))
b = int(input("Enter 2nd no: "))

print("Before swapping", a, "and",b)

c= a+b
a= c-a
b= c-b

print("Swaped numbers are",a ,"and", b)

Enter 1st no: 2
Enter 2nd no: 10
Before swapping 2 and 10
Swaped numbers are 10 and 2

In [ ]:
a = int(input("Enter 1st no: "))
b = int(input("Enter 2nd no: "))

print("Before swapping numbers are", a , "and", b)

c = a
a = b
b = c

print("Now swapped numbers are", a , "and", b)

Enter 1st no: 4
Enter 2nd no: 8
Before swapping numbers are 4 and 8
Now swapped numbers are 8 and 4

In [ ]:
x = int(input("Enter 1st no: "))
y = int(input("Enter 2nd no: "))

print('Before swapping: {} and {}'.format(x,y))

x = x^y
y = x^y
x = x^y

print("After swapping: {} and {}".format(x,y))

Enter 1st no: 6
Enter 2nd no: 9
Before swapping: 6 and 9
After swapping: 9 and 6

In [ ]:
#Farenhiet to Celcius

f = float(input("Enter Temperature in F: "))
c = (f-32)*5/9
print("Temperature in C is", c)

Enter Temperature in F: 120
Temperature in C is 48.888888888888886

In [ ]:
print(3**2**2)
print(3**4)
print(9**2)

81
81
81

In [ ]:
# Input days, months, hours, minutes, seconds and print in seconds
days = int(input("Enter days: "))
months = int(input("Enter months: "))
hours = int(input("Enter hours: "))
minutes = int(input("Enter minutes: "))
seconds = int(input("Enter seconds: "))
print("Total seconds are", days*86400+months*2592000+hours*3600+minutes*60+seconds)
print("Total seconds are", days*24*60*60+months*30*24*60*60+hours*60*60+minutes*60+seconds)

Enter days: 33
Enter months: 54
Enter hours: 97
Enter minutes: 444
Enter seconds: 295
Total seconds are 143195335
Total seconds are 143195335

In [ ]:
# Distance between two points
x1 = int(input("Enter x1: "))
y1 = int(input("Enter y1: "))
x2 = int(input("Enter x2: "))
y2 = int(input("Enter y2: "))

dist = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
approx = ("%.2f"%dist)
print(dist)
print(approx)

Enter x1: 3
Enter y1: 2
Enter x2: 1
Enter y2: 2
2.0
2.00

In [ ]:
x =[3,2]
y =[2,1]

distance = ((y[0]-x[0])**2+(y[1]-x[1])**2)**0.5
print(distance)

1.4142135623730951

In [ ]:
# Calander of a month

import calendar

month = int(input("Enter month: "))
year = int(input("Enter year: "))

print(calendar.month(year,month))

Enter month: 12
Enter year: 2099
   December 2099
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
x = int(input("Enter 1st no: "))
y = int(input("Enter 2nd no: "))

print('Before swapping: {} and {}'.format(x,y))

x ^= y
y ^= x
x ^= y

print("After swapping: {} and {}".format(x,y))

Enter 1st no: 2
Enter 2nd no: 4
Before swapping: 2 and 4
After swapping: 4 and 2

#DAY 3

In [ ]:
# Volume of a cylinder

r = float(input("Enter radius: "))
h = float(input("Enter height: "))

print("Volume of cylinder is", 3.14*r*r*h)

Enter radius: 9.2
Enter height: 5
Volume of cylinder is 1328.848

In [ ]:

name = "Python is easy"
       #01234567891234

a = name[0:6]
b = name[0::]
c = name[1::2]  #for even
d = name[0::3]
e = name[0:14:2] #for odd
f = name[0::2]   #for odd
g = name[::-1]
h = name[::2] #for odd
i = name[10::-2]
j = name[0::-2]

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)

Python
Python is easy
yhni ay
Ph  s
Pto ses
Pto ses
ysae si nohtyP
Pto ses
es otP
P

In [ ]:
text = " Python niche "
text1 = "geeks and others"
print(len(text))
print(text, len(text))
print(text.lower())
print(text.upper())
print(text.capitalize())
print(text.title())
print(text.swapcase())
print(text.split())
print(text.strip())
print(text.lstrip())
print(text.rstrip())
print(text.center(99))
print(text.replace("niche", "alright"))
print(text.find('niche'))
print(text.join(text1))
slice_obj = slice(3,8)
print(text[slice_obj])

14
 Python niche  14
 python niche
 PYTHON NICHE
 python niche
 Python Niche
 pYTHON NICHE
['Python', 'niche']
Python niche
Python niche
 Python niche
                                            Python niche
 Python alright
8
g Python niche e Python niche e Python niche k Python niche s Python niche   Python niche a Python niche n Python niche d Python niche   Python niche o Python niche t Python niche h Python niche e Python niche r Python niche s
thon

In [ ]:
# to convert string from upper to lower and lower to upper

text = "BeTtEr ClAsSeS"
print(text.swapcase())
print(text.lower())
print(text.upper())

bEtTeR cLaSsEs
better classes
BETTER CLASSES

In [ ]:
# to reverse the string

text = str(input("Enter your text: "))
print(text[::-1])

Enter your text: 2RDR
RDR2

In [ ]:
# to check if a string is palindrome or not

text = str(input("Enter your word: "))
text1 = text[::-1]

if text == text1:
    print("Palindrome")
else:
    print("Not Palindrome")

print(text)
print(text1)

Enter your word: word
Not Palindrome
word
drow

In [ ]:
# to concetinate a string

text = str(input("Text 1: "))
text1 = str(input("Text 2: "))

print(text + text1)

Text 1: sheez
Text 2: classes
sheezclasses

In [ ]:
# length of string

text = str(input("Enter your text: "))
print(len(text))

Enter your text: ratsass
7

In [ ]:
# count number of vowels in a string

word = input("You may enter your word: ")
vowels = "aeiouAEIOU"

print( sum(1 for char in word if char in vowels))

You may enter your word: ellano
3

In [ ]:
# another way (generative)

word = input("Enter your word: ")
vowels = "aeiouAEIOU"
vowel_count = 0
conso_count = 0

for char in word:
    if char in vowels:
        vowel_count += 1

for char in word:
    if char not in vowels:
        conso_count += 1

print(f"Number of vowels: {vowel_count}")
print(f"Number of consonants: {conso_count}")

Enter your word: vowels
Number of vowels: 2
Number of consonants: 4

In [ ]:
# count vowels and consonants in a string

word = input("You may enter your word: ")
vowels = "aeiouAEIOU"

print("Number of vowels: " ,sum(1 for char in word if char in vowels))
print("Number of consonants" ,sum(1 for char in word or char .isalpha() if char not in vowels))

You may enter your word: fuck yeah
Number of vowels:  3
Number of consonants 6

In [ ]:
# length of string without using len

text = str(input("Enter a number: "))

length = sum(1 for i in text)

print(length)

Enter a number: weehhy
6

#DAY 4

In [ ]:
# lexciographical sorting (dictionary sorting)

In [ ]:
# to remove all consonants

text = str(input("Enter your text: "))
vowels = "aeiouAEIOU"

for char in text:
    if char not in vowels:
        text = text.replace(char, "")

print(text)

Enter your text: what is this
aii

In [ ]:
text = str(input("Enter your text: "))
vowels = "aeiouAEIOU"

final_text = "" .join(char for char in text if char in vowels)

print(final_text)

Enter your text: spiritual parasite
iiuaaaie

In [ ]:
# to rotate a string

text = str(input("Enter your sentence: "))

my_list = text.split()

new_list = my_list[3] + " " + my_list[0] + " " + my_list[1] + " " + my_list[2]

print(new_list)

Enter your sentence: this not work why
why this not work

In [ ]:
# rotate a string

text = str(input("Enter text: "))
n = len(text)

text1 = slice(0,4)
text2 = slice(4,n)

print(text[text2] + " " + text[text1])

Enter text: fish what the
 what the fish

In [ ]:

# find longest word in string and its length

string = str(input("Enter your string: "))
my_list = string.split()

longest_word = max(my_list, key=len)

print(longest_word)
print(len(longest_word))

Enter your string: working now
working
7

In [ ]:
# find number of words in string

string = str(input("Enter your string: "))
my_list = string.split()

print(len(my_list))

Enter your string: all are dumdum
3

In [ ]:
# extract the initials of a string and display in upper case

text = str(input("Enter string: "))
my_list = text.split()

for i in my_list:
    print(i[0].upper(), end="")

Enter string: red dead redemption 2
RDR2

In [ ]:
# try another way
text = str(input("Enter string: "))
my_list = text.split()

initial = "" .join(n[0] for n in my_list)

print(initial.upper())

Enter string: roku jj desu
RJD

In [ ]:
a = int(input("Enter your age: "))

if a>=18:
    print("You can vote")

else :
    print("You can't vote")
print("You are Indian")

Enter your age: 55
You can vote
You are Indian

# DAY 5

In [ ]:
# grading marks:

marks = int(input("Your marks: "))

if marks >= 90:
    print("Grade A")
elif marks >= 80:
    print("Grade B")
elif marks >= 70:
    print("Grade C")
elif marks >= 60:
    print("Grade D")
elif marks >= 40:
    print("Grade E")
else:
    print("Grade F")

Your marks: 91
Grade A

In [ ]:
# overall grade

eng = float(input("English: "))
math = float(input("Mathematics: "))
phy = float(input("Physics: "))
aero = float(input("Aerospace: "))
pyth = float(input("Python: "))

marks = ((eng + math + phy + aero + pyth)/500)*100

if marks >= 90:
    print("Grade A")
elif marks >= 80:
    print("Grade B")
elif marks >= 70:
    print("Grade C")
elif marks >= 60:
    print("Grade D")
elif marks >=40:
    print("Grade E")
else :
    print("Grade F")

English: 93
Mathematics: 79
Physics: 67
Aerospace: 87
Python: 95
Grade B

In [ ]:
# trying nested if

age = int(input("Enter age: "))
citizen = str(input("Enter country: "))

if age>=18:
    if citizen == "India" or citizen == "india":
        print("You can vote")
    else:
        print("You can't vote")

else:
    print("You can't vote")

Enter age: 17
Enter country: india
You can't vote

In [ ]:
# another way

age = int(input("Enter age: "))
citizen = str(input("Enter country of origin: "))

if age<=17:
    print("You can't vote")
else :
    if citizen == "India" or citizen == "india":
      print("You can vote")
    else :
      print("You can't vote")

Enter age: 22
Enter country of origin: delhi
You can't vote

In [ ]:
# check if two integers are equal

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a == b:
    print("Number Equal")
else:
    print("Not Equal")

Enter first number: 33
Enter second number: 33
Number Equal

In [ ]:
# find greatest of 3 numbers using elif

a = int(input("Enter A: "))
b = int(input("Enter B: "))
c = int(input("Enter C: "))

if a > b and a > c:
   print("A greatest")
elif b > a and b > c:
   print("B greatest")
else:
    print("C greatest")

Enter A: 3
Enter B: 76
Enter C: 99
C greatest

In [ ]:
# greatset integer using nested if

a = int(input("Enter A: "))
b = int(input("Enter B: "))
c = int(input("Enter C: "))

if a > b:
    if b > c:
     print("A greatest")
    elif c >a :
     print("C greatest")
else :
   print("B greatest")

Enter A: 46
Enter B: 34
Enter C: 99
C greatest

In [ ]:
# if the year is leap year

year = int(input("Enter year: "))

if year%4 == 0:
  print("Leap Year")
else:
  print("Normal Year")

Enter year: 2025
Normal Year

In [ ]:
# check is last digit of a number is even or not

num = (input("Number: "))


if num[-1] == 2 and 4 and 6 and 8:
  print("Even")
elif num[-1] == 0 :
  print("Zero")
else :
  print("Odd")

Number: 32
Odd

In [ ]:
# check if a triangle is skelen, isoceles, equi

a = int(input("1st side: "))
b = int(input("2nd side: "))
c = int(input("3rd side: "))

if a==b==c:
  print("Equivalent")
elif a!=b!=c :
  print("Skelen")
else :
   print("Isoceles")

1st side: 2
2nd side: 3
3rd side: 3
Isoceles

In [ ]:
i = 1
while i <7:
  print(i)
  i += 2

for i in range(1,6):
  print(i)

for h in range(3):
  print(h)
else:
  print("loop comp")

for g in range(4):
 print(g)

1
3
5
1
2
3
4
5
0
1
2
loop comp
0
1
2
3

In [ ]:
i = 1
while i <= 17:
  print(i)
  if i == 13:
    break
  i += 2

1
3
5
7
9
11
13

In [ ]:
# find prime number

n = int(input("Enter number: "))
sum = 0

while

if (sum == n):
  print("Perfect")
else:
  print("Not Perfect")

In [ ]:
# table of 5

n = int(input("Enter Number: "))
i = 1

while i <= 10:
  print(n,"x",i,"=",n*i)
  i += 1

Enter Number: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
n = int(input("Enter Number: "))

for i in range(1,11):
  print(n,"x",i,"=",n*i)

Enter Number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
for a in range(0,3):
  for b in range(0,10):
    print(a, end="")
    print(b, end=" ")
  print()

00 01 02 03 04 05 06 07 08 09
10 11 12 13 14 15 16 17 18 19
20 21 22 23 24 25 26 27 28 29

In [ ]:
for i in range(0,7):
  for j in range(0,i+1):
    print(j, end="")
  print()

0
01
012
0123
01234
012345
0123456

In [ ]:
for i in range(5,0,-1):
  for j in range(i):
    print(i, end="")
  print()

55555
4444
333
22
1

In [ ]:
rows = 5
for i in range(1, rows+1):
  for j in range(1,i+1):
    print(j, end="")
  print()

1
12
123
1234
12345

In [ ]:
rows = 3
for i in range(rows+1,-1,-1):
  for j in range(i+1,0,-1):
    print(j, end="")
  print()

54321
4321
321
21
1

In [ ]:
rows = 7
for i in range(rows+1,-1,-1):
  for j in range(i+1,0,-1):
      print("{:5d}".format(j), end="")
  print()

    9    8    7    6    5    4    3    2    1
    8    7    6    5    4    3    2    1
    7    6    5    4    3    2    1
    6    5    4    3    2    1
    5    4    3    2    1
    4    3    2    1
    3    2    1
    2    1
    1

In [ ]:
rows = int(input("Enter rows: "))
for i in range (1, rows+1):
  print(" "*(rows-i) + "*" * i)

Enter rows: 6
     *
    **
   ***
  ****
 *****
******

In [ ]:
rows = 3
for i in range(rows+1,-1,-1):
  for j in range(i+1, 0, -1):
    print(" "*(rows-j), j , end="")
  print()

 5 4 3  2   1
 4 3  2   1
 3  2   1
  2   1
   1

In [ ]:
# to check if a number is prime or not

num =int(input("Enter number: "))

for i in range(2,num):
  if num%i == 0:
    print("Not Prime")
    break
else:
  print("Prime")

Enter number: 16
Not Prime

# DAY 6

In [ ]:
# to print fibonacci series upto n terms

num = int(input("Enter number: "))
a = 0
b = 1
for i in range(num):
  if i <= 1:
    result = i
  else:
    result = a + b
    a = b
    b = result
  print(result)

Enter number: 10
0
1
1
2
3
5
8
13
21
34

In [ ]:
# to check if a number palindrome

num = int(input("Enter Number: "))

if str(num) == str(num)[::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter Number: 654
Not Palindrome

In [ ]:
# to check if a number is armstrong number

num = int(input("Enter Number: "))
sum = 0
temp = num

while temp > 0:
  digit = temp % 10
  sum += digit ** 3
  temp //= 10

if num == sum:
  print("Armstrong")
else:
  print("Not Armstrong")

Enter Number: 153
Armstrong

In [ ]:
# to check perfect number

num = int(input("Enter Number: "))
sum = 0

for i in range(1,num):
  if num%i == 0:
    sum += i
if sum == num:
  print("Perfect")
else:
  print("Not Perfect")

Enter Number: 9
Not Perfect

In [ ]:
def message():
  print("Welcome to boring 101")
  print("Don't ask")
message()

Welcome to boring 101
Don't ask

In [ ]:
# check disarium number

num = int(input("Enter Number: "))
length = len(str(num))
temp = num
sum = 0

while temp > 0:
  digit = temp % 10
  sum += digit ** length
  temp //= 10
  length -= 1

if num == sum:
  print("Disarium Number")
else:
  print("Not Disarium Number")

Enter Number: 89
Disarium Number

In [ ]:
num1 = int(input("1st: "))
num2 = int(input("2nd: "))

def math(num1,num2):

  add = num1 + num2
  sub = num1 - num2
  mul = num1 * num2
  div = num1 / num2
  return add, sub, mul, div
a,b,c,d = math(num1,num2)
e,f,g,h = math(99,36)
print(a,b,c,d)
print(e,f,g,h)

1st: 23
2nd: 11
34 12 253 2.090909090909091
135 63 3564 2.75

In [ ]:
def find_sum(a,b=20):
  print(a,b)
find_sum(10)

def find_sum(a,b,c=35):
  print(a,b,c)
find_sum(10,30)
find_sum(10,30,50)

10 20
10 30 35
10 30 50

In [ ]:
def my_fun(**name):
  print(f"First name is {name['fname']} and last name is {name['lname']}")
my_fun(fname = "John", lname = "Doe")

First name is John and last name is Doe

In [ ]:
# check prime and generate
num = int(input("Enter Number: "))
def is_prime(num):
  if num <= 1:
    return False
  for i in range(2,int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True
if is_prime(num):
  print("Prime")
else:
  print("Not Prime")

11
Prime

#DAY 7

In [ ]:
# to reverse a number

In [ ]:
# to find factorial of a number

num = int(input("Enter number: "))
fact = 1

def fact(num):
  for i in range(1,num+1):
    if num == 0:
      return 1
    else :
      return num * fact(num-1)

num1 = fact(num)
print(num1)

Enter number: 5

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'

In [ ]:
for num1 in range(1, 11):
    print()
    for num2 in range(1, 11):
        if len(str(num1*num2)) == 1:
            print(" "+str(num1*num2),end = ' ')
        else:
            print(str(num1*num2),end = ' ')

 1  2  3  4  5  6  7  8  9 10
 2  4  6  8 10 12 14 16 18 20
 3  6  9 12 15 18 21 24 27 30
 4  8 12 16 20 24 28 32 36 40
 5 10 15 20 25 30 35 40 45 50
 6 12 18 24 30 36 42 48 54 60
 7 14 21 28 35 42 49 56 63 70
 8 16 24 32 40 48 56 64 72 80
 9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
rows = 5
for i in range(rows+1,-1,-1):
  print()
  for j in range(i+1,0,-1):
    print(" "*(rows-i) + str(j)*i, end=" ")
  print()

777777 666666 555555 444444 333333 222222 111111

66666 55555 44444 33333 22222 11111

 5555  4444  3333  2222  1111

  444   333   222   111

   33    22    11

    2     1

In [ ]:
# using function to convert farenhiet to celcius and vice-versa, depending on user input

def temp_fun():

In [ ]:
# to check if two strings are anagrams
def is_anagram(s1,s2):
  s1 = s1.replace(" ", "").lower()
  s2 = s2.replace(" ", "").lower()

  if (sorted(s1) == sorted(s2)):
    print("Anagram")
  else:
    print("Not Anagram")
is_anagram("silent", "listen")
is_anagram("hello", "world")

Anagram
Not Anagram

In [ ]:
# to check if a number is perfect

In [ ]:
# to check if a number is strong number

# DAY 8

In [ ]:
x2 = 40
def f1(a=15,b=20):
  global x2 #without defining global here print of x2 works but not can't change its value
  x1 = 10
  x2 += 20
  print(x1 + x2)
  print(x1)
  print(x2)
  print(locals())
f1(20,40)
print(x2)

70
10
60
{'a': 20, 'b': 40, 'x1': 10}
60

In [ ]:
def f1():
  x1 = 10
  def f2():
    nonlocal x1
    x2 = 30
    x1 += 10
    print(x1)
  f2()
f1()

20

In [ ]:
# to modify a global variable to inside a function using global keyword

z1 = 400
def f1():
  global z1
  z2 = 20
  z1 += 20
  print(z1)
  print(z2)
f1()
print(z1)

420
20
420

In [ ]:
# create a nested function where the inner function modifies the variable from the outer function using nonlocal keyword

def f1():
  y1 = 69
  def f2():
    nonlocal y1
    y1 -= 9
    print(y1)
  f2()
f1()

60

In [ ]:
# factorial

num = int(input("Find factorial of number: "))
def fact(num):
  if num == 0:
    return 1
  else:
    return num * fact(num-1)
num1 = fact(num)
print(f"{num1} is the factorial of {num}")

Find factorial of number: 5
120 is the factorial of 5

In [ ]:
# fibonacci using recursion

num = int(input("Enter number: "))

def fib(num):
  if num <= 1:
    return num
  else:
    return fib(num-1) + fib(num-2)
for i in range(num):
  print(fib(i), end=",")

Enter number: 9
0,1,1,2,3,5,8,13,21,

In [ ]:
# to find HCF/GCD and LCM

num1 = int(input("1st number: "))
num2 = int(input("2nd number: "))

if num1 == num1 and num2 ==

In [ ]:
def ex_fun(s,char):
   return s.find(char)
my_s = 'Hello'
print(ex_fun(my_s, '1'))

-1

#DAY 9

In [ ]:
# saving a module
code = """
def greet(name):
  return f"Hello,{name}"
def add(num1,num2):
  return num1 + num2
def sub(num1,num2):
  return num1 - num2
def prod(num1,num2):
  return num1 * num2
def div(num1,num2):
  return num1/num2
def expo(num1,num2):
  return num1 ** num2

if __name__ == "__main__" :
  print(greet("Megha"))
  print(add(4,7))

"""
# write the module to a .py file
with open('/content/arith.py', 'w') as f:
  f.write(code)

In [ ]:
import arith as m
addition = m.add(4,9)
exponent = m.expo(3,5)
print(addition)
print(exponent)

13
243

In [ ]:
# a module for factorial and prime

def fact(num):
  if num == 0:
    return 1
  else:
    return num * fact(num-1)
num1 = fact(num)

In [ ]:
import os
os.makedirs('/content/mypackage', exist_ok=True)
with open('/content/mypackage/arith.py', 'w') as f:
  f.write('')

greeting_code= """
def greet(name):
  return f"Hello,{name}"
"""
with open('/content/mypackage/greetings.py', 'w') as f:
  f.write(greeting_code)

maths_operations_code = """
def add(num1,num2):
  return num1 + num2
def sub(num1,num2):
  return num1 - num2
"""
with open('/content/mypackage/maths.py', 'w') as f:
  f.write(maths_operations_code)

In [ ]:
import mypackage.greetings as greetings
import mypackage.maths as maths
print(greetings.greet("Xavier"))
print(maths.add(4,7))
print(maths.sub(4,7))
print(dir(greetings))

Hello,Xavier
11
-3
['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'greet']

In [ ]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
import random
for i in range(10):
  print(random.randint(1,100))

79
88
19
43
19
63
22
33
32
57

In [ ]:
import random
dice = random.randint(1,6)
print(dice)

5

In [ ]:
# print current date and time
import datetime
print(datetime.datetime.now())

2025-01-15 09:09:59.614030

In [ ]:
# no of days b/w two dates
from datetime import datetime
date1 = date(2024,2,12)
date2 = date(2025,1,19)

diff_days = (date2 - date1).days
print(diff_days)

342

In [ ]:
l1 =['abc', 12, 30.7]
l1.insert(2,33)
l1.append(69)
print(l1)

['abc', 12, 33, 30.7, 69]

In [ ]:
L = []
for i in range(1,5):
  n = int(input())
  L[i].append(n)
print(L)

2

IndexError: list index out of range

#DAY 10

In [ ]:
temp = input("Enter temperature: ")
degree = int(temp[:-1])
unit = temp[-1]

True

In [ ]:
# to find union,intersection, diff,and symm diff b/w two sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = (set2-set1).union(set1 - set2)
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set2.difference(set1))
print(set1.symmetric_difference(set2))
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [ ]:
# to remove dublicates from a list using set
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
set1 = set(list1)
set2 = set(list2)
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# to check if one set is subset of another
set1 = {1,3,5,7}
set2 = {1,3}
print(set2.issubset(set1))

True

In [ ]:
# to count freq of characters in a string using dict
string = str(input("Word: "))
dict1 = {}
for i in string:
  if i in dict1:
    dict1[i] += 1
  else:
    dict1[i] = 1
print(dict1)

Word: ellegante
{'e': 3, 'l': 2, 'g': 1, 'a': 1, 'n': 1, 't': 1}

In [ ]:
# create a dic from two list key-l1 and value-l2
list1 = [1,3,5,7]
list2 = ['f','u','n','k','y']
dict1 = dict(zip(list2,list1))
dict2 = dict(zip(list1,list2))
print(dict1)
print(dict2)

{'f': 1, 'u': 3, 'n': 5, 'k': 7}
{1: 'f', 3: 'u', 5: 'n', 7: 'k'}

In [ ]:
# to merge two dic and sort them by key
dict1 = {1: 'f', 3: 'u', 5: 'n', 7: 'k', 9: 'y'}
dict2 = {2: 's', 4: 'h', 6: 'i', 8: 'n'}
dict1.update(dict2)
print(dict1)

{1: 'f', 3: 'u', 5: 'n', 7: 'k', 9: 'y', 2: 's', 4: 'h', 6: 'i', 8: 'n'}

In [ ]:
# to itirate to a nested dic and print or keys and values

In [ ]:
# to count the operands of each word in a list using dict
list1 = ['nigh','is','the','time','of','sword','and','axe','and','arcane','nigh','is','the','dawn']
dict1 = {}
for i in list1:
  if i in dict1:
    dict1[i] += 1
  else:
    dict1[i] = 1
print(dict1)

{'nigh': 2, 'is': 2, 'the': 2, 'time': 1, 'of': 1, 'sword': 1, 'and': 2, 'axe': 1, 'arcane': 1, 'dawn': 1}

In [ ]:
import re
# sample text containing email address

text = """
Hey, there apologies for the inconviences it will happen again and
till death is nigh at thee door and kindly get back to me at
yousuck@gmail.com or fascade@reddifmail.com
"""
email_pattern = r'[a-zA-Z0-9._]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'

email_address = re.findall(email_pattern, text)

mail = str(input("Type your mail: "))

new_mail = re.sub(email_pattern, mail, text)
print(new_mail)

new_mail1 = re.findall(email_pattern, mail)
print(new_mail1)

print(email_address)

Type your mail: notval!d@innit.woe

Hey, there apologies for the inconviences it will happen again and
till death is nigh at thee door and kindly get back to me at
notval!d@innit.woe or notval!d@innit.woe

['d@innit.woe']
['yousuck@gmail.com', 'fascade@reddifmail.com']

In [ ]:
import re
num = r'^\d{}3-\d{3}-\d{4}$'

n = str(input('Enter your number: '))
val_num = re.findall(n, num)

print(val_num)

Enter your number: 987-254-4685
[]

In [ ]:
import re

def is_valid_phone_num(phone_num):
  pattern = r'^\d{3}-\d{3}-\d{4}$'

In [ ]:
import re

def is_valid_phone_num(phone_num):
  pattern = r'^\d{3}-\d{3}-\d{4}$'
  if re.match(pattern, phone_num):
    return True
  else:
    return False
phone_num = str(input("Enter your number: "))

Enter your number: 7984561248

In [ ]:
import os
f = open("demofile.txt","wt")
f.write("Oi, cunt")
f.close()
print(os.getcwd())
print(os.listdir('/content/'))

/content
['.config', 'demofile.txt', 'sample_data']

In [ ]:
f = open("demofile.txt", "rt")
print(f.read())

Oi, cunt

In [ ]:
text = "Nigh is chasm"
d1 ={x:text.count(x) for x in text}
print(d1)

{'N': 1, 'i': 2, 'g': 1, 'h': 2, ' ': 2, 's': 2, 'c': 1, 'a': 1, 'm': 1}

In [ ]:
# open, read, write a file count number of characters, line and words

In [ ]:
n = int(input("num:"))

sum=0

for i in range(0,n):

 if n%i==0:

  sum= sum+i

  fac= [i]

  print("factors:",fac)

  print("sun:", sum)

 elif sum>n:

  print("abundant number")

 else:

  print('deficient number')

num:45

ZeroDivisionError: integer modulo by zero

In [ ]:
#Here's a Python program to determine if a number is perfect, abundant, or deficient:

def classify_number(num):
    # Find all divisors of the number (excluding the number itself)
    divisors = [i for i in range(1, num // 2 + 1) if num % i == 0]

    # Calculate the sum of divisors
    divisor_sum = sum(divisors)

    # Determine the type of the number
    if divisor_sum == num:
        classification = "perfect number"
    elif divisor_sum > num:
        classification = "abundant number"
    else:
        classification = "deficient number"

    # Print the results
    print(f"num: {num}")
    print(f"factors: {divisors}")
    print(f"sum: {divisor_sum}")
    print(classification)

#DAY 11

In [ ]:
# sum of sq of num

In [ ]:
# sum of sq of num div by the factorial of num